h1 {
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: center;
    height: 50%;
    width: 50%;
    margin: auto;
}

.hiscore {
    position: absolute;
    top: 0;
    left: 0;
}

.timer {
    position: absolute;
    top: 0;
    right: 50px;
}

.responses {
    flex-direction: column;
    padding-left: 25%;
    font-size: 20px;
}

ul {
    height: 40px;
    width: 50%;
    padding-top: 20px;
    margin:auto;
}

ul:hover {
    background-color: silver;

}

.startbtn {
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
}